#header {
    background-color: rgba(12, 12, 12, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#header .header-scrolled {
    top: 0;
    background: rgba(12, 12, 12, 0.9);
    border-bottom: 1px solid #37332a;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}