#header {
    background: rgba(12, 12, 12, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    z-index: 997;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

#header.scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
    height: 70px;
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

#header .logo a:hover {
    color: #cda45e;
}

#header .logo img {
    max-height: 40px;
}