.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    cursor: pointer;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar a:focus,
.navbar li:hover>a {
    color: #cda45e;
}

.navbar.dropdown ul {
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    left: 14px;
    z-index: 99;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    white-space: nowrap;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #444444;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul li:hover>a,
.navbar .dropdown ul li:focus>a,
.navbar .dropdown ul li.active>a {
    background-color: #d9ba85;
}

.navbar.dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.navbar.dropdown.dropdown ul {
    top: 0;
    left: calc(100%-30px);
    visibility: hidden;
}

.navbar.dropdown.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 100%;
}

@media (max-width: 992px) {
    .navbar .dropdown ul {
        position: static;
        display: none;
    }

    .navbar .dropdown ul li {
        min-width: auto;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
    }

    .navbar .dropdown ul li:hover>a,
    .navbar .dropdown ul li:focus>a,
    .navbar .dropdown ul li.active>a {
        background-color: #d9ba85;
    }

    .navbar.dropdown:hover>ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }

    .navbar.dropdown.dropdown ul {
        top: 0;
        left: calc(100%-30px);
        visibility: hidden;
    }

    .navbar.dropdown.dropdown:hover>ul {
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 100%;
    }
}

@media (max-width: 992px) {
    .navbar .dropdown ul {
        position: static;
        display: none;
    }

    .navbar .dropdown ul li {
        min-width: auto;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
    }

    .navbar .dropdown ul li:hover>a,
    .navbar .dropdown ul li:focus>a,
    .navbar .dropdown ul li.active>a {
        background-color: #d9ba85;
    }

    .navbar.dropdown:hover>ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }

    .navbar.dropdown.dropdown ul {
        top: 0;
        left: calc(100%-30px);
        visibility: hidden;
    }

    .navbar.dropdown.dropdown:hover>ul {
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 100%;
    }
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar.dropdown.dropdown:hover>ul {
        left: -100%;
    }
}

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 992px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55;
    right: 15;
    bottom: 15;
    padding: 10px 0;
    left: 15;
    background: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    font-size: 15px;
    color: #1a1814;
    padding: 10px 20px;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a,
.navbar-mobile li:focus>a {
    color: #d9ba85;
}

.navbar-mobile .get-started {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    padding: 10px 0;
    margin: 10px 20px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    background: rgba(255, 255, 255, 0.9);
}

.navbar-mobile .dropdown ul li:hover>a,
.navbar-mobile .dropdown ul li:focus>a,
.navbar-mobile .dropdown ul li.active>a {
    background-color: #d9ba85;
}

.navbar-mobile .dropdown.dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown.dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown.dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}