.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
    z-index: 99;
    background: #1a1814;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #1a1814;
    border-top-color: #cda45e;
    border-bottom-color: #cda45e;
    border-radius: 50%;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}