.section-title{
    padding-bottom: 30px;
}
.section-title h2{
    font-size: 14px;
    font-weight: 600;
    padding:0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #cda45e;
    font-family: 'poppins';
}
.section-title h2::after{
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 165, 0, 0.5);
    margin: 4px 10px;
}
.section-title p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'playfair display';
    color: #cda45e;
}